In [17]:
car.df <- read.csv("ToyotaCorolla.csv")

In [18]:
head(car.df)

  Price Age KM    FuelType HP MetColor Automatic CC   Doors Weight
1 13500 23  46986 Diesel   90 1        0         2000 3     1165
2 13750 23  72937 Diesel   90 1        0         2000 3     1165
3 13950 24  41711 Diesel   90 1        0         2000 3     1165
4 14950 26  48000 Diesel   90 0        0         2000 3     1165
5 13750 30  38500 Diesel   90 0        0         2000 3     1170
6 12950 32  61000 Diesel   90 0        0         2000 3     1170

In [19]:
str(car.df)

'data.frame':	1436 obs. of  10 variables:
 $ Price    : int  13500 13750 13950 14950 13750 12950 16900 18600 21500 12950 ...
 $ Age      : int  23 23 24 26 30 32 27 30 27 23 ...
 $ KM       : int  46986 72937 41711 48000 38500 61000 94612 75889 19700 71138 ...
 $ FuelType : Factor w/ 3 levels "CNG","Diesel",..: 2 2 2 2 2 2 2 2 3 2 ...
 $ HP       : int  90 90 90 90 90 90 90 90 192 69 ...
 $ MetColor : int  1 1 1 0 0 0 1 1 0 0 ...
 $ Automatic: int  0 0 0 0 0 0 0 0 0 0 ...
 $ CC       : int  2000 2000 2000 2000 2000 2000 2000 2000 1800 1900 ...
 $ Doors    : int  3 3 3 3 3 3 3 3 3 3 ...
 $ Weight   : int  1165 1165 1165 1165 1170 1170 1245 1245 1185 1105 ...

In [20]:
# use first 1000 rows of data
car.df <- car.df[1:1000, ]

In [40]:
# select variables for regression
selected.var <- c(3, 4, 7, 8, 9, 10)

In [41]:
# partition data
set.seed(1) # set seed for reproducing the partition

In [42]:
train.index <- sample(c(1:1000), 600)

In [43]:
str(train.index)

 int [1:600] 266 372 572 906 201 894 940 657 625 62 ...

In [44]:
train.df <- car.df[train.index, selected.var]

In [46]:
dim(train.df)

[1] 600   6

In [38]:
dim(car.df)

[1] 1000   10