In [3]:
car.df <- read.csv("ToyotaCorolla.csv")

In [4]:
head(car.df)

  Price Age KM    FuelType HP MetColor Automatic CC   Doors Weight
1 13500 23  46986 Diesel   90 1        0         2000 3     1165
2 13750 23  72937 Diesel   90 1        0         2000 3     1165
3 13950 24  41711 Diesel   90 1        0         2000 3     1165
4 14950 26  48000 Diesel   90 0        0         2000 3     1165
5 13750 30  38500 Diesel   90 0        0         2000 3     1170
6 12950 32  61000 Diesel   90 0        0         2000 3     1170